body {
    padding-top: 70px;
    background-color: black;
    height: 100vw;
    font-family: 'Space Mono', monospace;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: thick;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    padding: 20px 22px;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /* background-color: #04AA6D; */
    /* color: white; */
}

/* div.space {
  position: relative;
  height: 15px;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
} */

.menu {
    display: flex;
    justify-content: end;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

div.body {
  position: relative fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  align-content: flex-end;
  height: 50px;
  right: 0;
  left: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

div.box-container {
  display: flex;
  justify-content: flex-end;
}

div.box {
  height: 100px;
  width: 100px;
  border: solid;
  border-top-color: white;
  border-right-color: white;
  border-width: thick;
}

div.myinfo {
  color: white;
  font-size: 30px;
  padding-right: 25px;
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
}

div.txt {
  color: white;
  font-size: 150px;
  padding-right: 25px;
}

.typed-out{
  overflow: hidden;
  white-space: nowrap;
  font-size: 150px;
  color: white;
  padding-top: 300px;
  padding-left: 20px;
  width: 0;
  animation: typing 1s forwards;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


div.portfolio-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  align-items: center;
  position: relative fixed;
  background-color: black;
  padding-top: 100px;
}

div.about {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  align-items: center;
  position: relative fixed;
  background-color: black;
  padding-top: 75px;
}

div.contact {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  align-items: center;
  position: relative fixed;
  background-color: black;
}

div.about-text {
  padding-right: 100px;
  padding-left: 100px;
}

div.project-info {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
}

div.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

div.teradrive {
  display: flex;
  flex-direction: column;
  align-items: center;
}


div.contactform {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/* form styling https://gist.github.com/joshcornman/882a16c173ecfbea699683884ce6c518 */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  background:white;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

label {
  padding-bottom: 10px;
}

/* Input */
.inputfield {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  height: 44px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  transition: all 1s;
  border: 3px solid rgba(102,51,153,0);
  background: e;
  color: white; 
  margin: 1em 0 2em 0;
  padding: 2em;
}
