

/* Add a black background color to the top navigation */
.topnav {
    background-color: #D5BDAF;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /* background-color: #04AA6D; */
    color: white;
}

.menu {
    display: flex;
    justify-content: end;
}